<section class="login-bg">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-5 mx-auto">
                <div class="login-boxs">
                    <h4>Change Password</h4>
                    <!-- Change password form -->
                    <form [formGroup]="ChangePasswordForm" (ngSubmit)="onSubmit(ChangePasswordForm.valid)">

                        <div class="form-group">
                            <input type="text" class="form-control" formControlName="user_name" placeholder="Username">
                            <div *ngIf="!ChangePasswordForm.get('user_name').valid && submitted">
                                <div class="text-danger"
                                    *ngIf="ChangePasswordForm.get('user_name').errors['required'] || ChangePasswordForm.get('user_name').errors['whitespace'] ">
                                    This field is required.
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="password" class="form-control" formControlName="password"
                                placeholder="Password">
                            <div *ngIf="!ChangePasswordForm.get('password').valid && submitted">
                                <div class="text-danger"
                                    *ngIf="ChangePasswordForm.get('password').errors['required'] || ChangePasswordForm.get('password').errors['whitespace']">
                                    This field is
                                    required.
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="password" class="form-control" formControlName="new_password"
                                placeholder="New Password">
                            <div *ngIf="!ChangePasswordForm.get('new_password').valid && submitted">
                                <div class="text-danger"
                                    *ngIf="ChangePasswordForm.get('new_password').errors['required'] || ChangePasswordForm.get('new_password').errors['whitespace']">
                                    This field is
                                    required.
                                </div>
                            </div>

                            <div *ngIf="!ChangePasswordForm.get('new_password').valid">
                                <div class="text-danger"
                                    *ngIf="ChangePasswordForm.get('new_password').errors['pattern'] || ChangePasswordForm.get('new_password').errors['minLength']">
                                    Password should be 8 character long and must contain at least one lowercase and one
                                    number.</div>
                            </div>
                        </div>

                        <div class="d-flex flex-wrap align-items-center">
                            <button class="btn btn-primary" style="margin-right: 5px;" type="submit"
                                [disabled]="show_spinner">Submit <i *ngIf="show_spinner"
                                    class="fa fa-spinner fa-spin"></i></button>
                            <button class="btn btn-button pull-right" type="button">cancel</button>
                        </div>
                    </form> <!-- Change password form-->
                </div>
            </div>
        </div>
    </div>
</section>