<section class="LoginRegisterPage">
    <div class="LoginTitle">
        <h2>Forgot <strong>Password</strong></h2>
        <p>We will send a verification code to your registered email address</p>
    </div>
    <form class="LoginRegisterForm" [formGroup]="ForgotPasswordForm" (ngSubmit)="onSubmit(ForgotPasswordForm.valid)">
        <div class="form-group">
            <input type="text" class="form-control" formControlName="user_name" placeholder="Username">
            <div class="FieldIcon">
                <img src="assets/userBack.svg" alt="" />
            </div>
            <div *ngIf="!ForgotPasswordForm.get('user_name').valid && submitted">
                <div class="ErrorMessage"
                    *ngIf="ForgotPasswordForm.get('user_name').errors['required'] || ForgotPasswordForm.get('user_name').errors['whitespace'] ">
                    This field is required.
                </div>
            </div>
        </div>
        <div class="form-group">
            <input type="email" class="form-control" formControlName="email" placeholder="Email">
            <div class="FieldIcon">
                <img src="assets/Email-Icon.svg" alt="" />
            </div>
            <div *ngIf="!ForgotPasswordForm.get('email').valid && submitted">
                <div class="ErrorMessage" *ngIf="ForgotPasswordForm.get('email').errors['required']">
                    This field is
                    required.
                </div>
                <div class="ErrorMessage" *ngIf="ForgotPasswordForm.get('email').errors['pattern']">Email
                    must be in valid format.</div>
            </div>

        </div>
        <div class="LoginBtn">
            <button class="btn btn-primary" type="submit" [disabled]="show_spinner">Submit <i *ngIf="show_spinner"
                    class="fa fa-spinner fa-spin"></i></button>
        </div>
        <!-- <div class="d-flex flex-wrap align-items-center">
            <button class="btn btn-primary" style="margin-right: 5px;" type="submit" [disabled]="show_spinner">Send <i
                    *ngIf="show_spinner" class="fa fa-spinner fa-spin"></i></button>
            <button class="btn btn-button pull-right" type="button">cancel</button>
        </div> -->
    </form> <!-- forgot password form-->
</section>