<section class="browse-bg">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="browse-boxs">
                    <div class="img">
                        <img src="assets/profile-img.jpg" />
                    </div>
                    <h3>Display Name</h3>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="browse-boxs">
                    <div class="img">
                        <img src="assets/fire.png" />
                    </div>
                    <h3>Display Name</h3>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="browse-boxs">
                    <div class="img">
                        <img src="assets/i1.jpg" />
                    </div>
                    <h3>Display Name</h3>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="browse-boxs">
                    <div class="img">
                        <img src="assets/i3.jpg" />
                    </div>
                    <h3>Display Name</h3>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="browse-boxs">
                    <div class="img">
                        <img src="assets/heart.png" />
                    </div>
                    <h3>Display Name</h3>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="browse-boxs">
                    <div class="img">
                        <img src="assets/profile-img.jpg" />
                    </div>
                    <h3>Display Name</h3>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="browse-boxs">
                    <div class="img">
                        <img src="assets/slider-img.jpg" />
                    </div>
                    <h3>Display Name</h3>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="browse-boxs">
                    <div class="img">
                        <img src="assets/images.jpg" />
                    </div>
                    <h3>Display Name</h3>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="browse-boxs">
                    <div class="img">
                        <img src="assets/i4.jpg" />
                    </div>
                    <h3>Display Name</h3>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="browse-boxs">
                    <div class="img">
                        <img src="assets/profile-img.jpg" />
                    </div>
                    <h3>Display Name</h3>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="browse-boxs">
                    <div class="img">
                        <img src="assets/profile-img.jpg" />
                    </div>
                    <h3>Display Name</h3>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="browse-boxs">
                    <div class="img">
                        <img src="assets/profile-img.jpg" />
                    </div>
                    <h3>Display Name</h3>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="browse-boxs">
                    <div class="img">
                        <img src="assets/profile-img.jpg" />
                    </div>
                    <h3>Display Name</h3>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="browse-boxs">
                    <div class="img">
                        <img src="assets/profile-img.jpg" />
                    </div>
                    <h3>Display Name</h3>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="browse-boxs">
                    <div class="img">
                        <img src="assets/profile-img.jpg" />
                    </div>
                    <h3>Display Name</h3>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="browse-boxs">
                    <div class="img">
                        <img src="assets/profile-img.jpg" />
                    </div>
                    <h3>Display Name</h3>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="browse-boxs">
                    <div class="img">
                        <img src="assets/profile-img.jpg" />
                    </div>
                    <h3>Display Name</h3>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="browse-boxs">
                    <div class="img">
                        <img src="assets/profile-img.jpg" />
                    </div>
                    <h3>Display Name</h3>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="browse-boxs">
                    <div class="img">
                        <img src="assets/profile-img.jpg" />
                    </div>
                    <h3>Display Name</h3>
                </div>
            </div>


        </div>
    </div>
</section>